* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  }
  
  body{
	min-height: 100vh;
	width:100vw;
	overflow-x: hidden;
  }
  .line {
	width: 100vw;
  }
  .img2{
	width: 100vw;
	height: auto;
  }
  body{
	background-image: url(./background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
 
  .subSvg,.contentUl{
	color: #E7E7E7;
  }

   .contentUl{
	padding:0 20px;
   }
  @media only screen and (max-width:550px) {
	.contentUl{
     padding: 5px;
	}
	.timeline{
		background-image: url(./Vector\ 1.svg);
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 2rem;
	 }
	 
    .img1{
		width:70px;
		height:25px;
	}
	.time-head{
		margin-top: 5px;
		margin-left: 30px;
	}
	.svg1 {
	  width: 60px;
	  height: 60.066px;
	}
	.svg1 svg{
	  width: 60px;
	  height: 60.066px;
	}
	.subSvg{
	  translate: 0 -37px;
	}
	.subSvg p {
	  font-size: 10px;
	}
	.img3{
	  width:120px;
	  height:18px;
	}
	.contentUl {
	  text-align: justify;
	  font-family: Syoog;
	  font-size: 10.5px;
	  font-style: normal;
	  font-weight: 400;
	  line-height: 180%;
	  letter-spacing: -0.5px;
	}
	.contentHead{
	  width:103px;
	}
	.contentHead h3 {
	  color: #CA40CD;
	  width:103px;
	  font-family: Syoog;
	  font-size: 15px;
	  font-style: normal;
	  font-weight: 700;
	  line-height: normal;
	  
	}
  }
  
  
  @media only screen and (min-width:550px) and (max-width:750px) {
	
	.timeline{
		background-image: url(./Vector\ 2.svg);
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 3rem;
	 }
    .img1{
		width:136px;
		height:36px;
	}
	.time-head{
		margin-top: 5px;
		margin-left: 30px;
	}
	.svg1 {
	  width: 90px;
	  height: 90.066px;
	}
	.svg1 svg{
	  width: 90px;
	  height: 90.066px;
	}
	.subSvg{
	  translate: 0 -55px;
	}
	.subSvg p {
	  font-size: 15px;
	}
	.img3{
	  width:160px;
	  height: 23px;
	}
	.contentUl {
	  /* color: #e7e7e7; */
	  text-align: justify;
	  font-family: Syoog;
	  font-size: 12px;
	  font-style: normal;
	  font-weight: 400;
	  line-height: 180%;
	  letter-spacing: -0.5px;
	}
	.contentHead{
	  width:103px;
	}
	.contentHead h3 {
	  color: #CA40CD;
	  width:103px;
	  font-family: Syoog;
	  font-size: 15px;
	  font-style: normal;
	  font-weight: 700;
	  line-height: normal;
	  
	}
  }
  
  @media only screen and (min-width:750px) and (max-width:1000px) {
	.timeline{
		background-image: url(./Vector\ 3.svg);
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 3rem;
	 }
	.img1{
		width:218px ;
		height:52px;
	}
	.time-head{
		margin-top: 6px;
		margin-left: 45px;
	}
	.svg1 {
	  width: 135px;
	  height: 135.78px;
	}
	.svg1 svg{
	  width: 135px;
	  height: 135.78px;
	}
	.subSvg {
	  translate: 0 -84px;
	}
	.subSvg p {
	  font-size: 25px;
	}
	.img3{
	  width: 200px;
	  height: 29px;
	}
	.contentUl {
	  /* color: #e7e7e7; */
	  text-align: justify;
	  font-family: Syoog;
	  font-size: 12px;
	  font-style: normal;
	  font-weight: 400;
	  line-height: 180%;
	  letter-spacing: -0.5px;
	}
	.contentHead{
	  width:103px;
	}
	.contentHead h3 {
	  color: #CA40CD;
	  width: 103px;
	  font-family: Syoog;
	  font-size: 15px;
	  font-style: normal;
	  font-weight: 700;
	  line-height: normal;
	}
  }
  @media only screen and (min-width:1000px) and (max-width:1300px) {
	.timeline{
		background-image: url(./Vector\ 4.svg);
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 4rem;
	 }
	.img1{
		width:245px ;
		height:65px;
	}
	.time-head{
		margin-top: 8px;
		margin-left: 60px;
	}
	.svg1 {
	  width: 155px;
	  height: 155.78px;
	}
	.svg1 svg{
	  width: 155px;
	  height: 155.78px;
	}
	.subSvg {
	  translate: 0 -95px;
	}
	.subSvg p {
	  font-size:30px;
	}
	.img3{
	  width: 275px;
	  height:42px;
	}
	.contentUl {
	  /* color: #e7e7e7; */
	  text-align: justify;
	  font-family: Syoog;
	  font-size: 18px;
	  font-style: normal;
	  font-weight: 400;
	  line-height: 180%;
	  letter-spacing: -0.5px;
	}
	.contentHead{
	  width:103px;
	}
	.contentHead h3 {
	  color: #CA40CD;
	  width: 103px;
	  font-family: Syoog;
	  font-size: 15px;
	  font-style: normal;
	  font-weight: 700;
	  line-height: normal;
	}
  }
  
  @media only screen and (min-width:1300px) {
	.timeline{
		background-image: url(./Vector\ 5.svg);
		background-position: center;
		background-repeat: no-repeat;
		margin-top:5rem;
	 }
	.img1{
		width:300px;
		height:80px;
	}
	.time-head{
		margin-top: 10px;
		margin-left: 80px;
	}
	
	.svg1 {
	  width: 174px;
	  height: 174.128px;
	}
	.subSvg {
	  translate: 0 -110px;
	}
	.subSvg p {
	  font-size: 35px;
	}
	.contentUl {
	  /* color: #e7e7e7; */
	  text-align: justify;
	  font-family: Syoog;
	  font-size: 24px;
	  font-style: normal;
	  font-weight: 400;
	  line-height: 180%;
	  letter-spacing: -0.56px;
	}
	.contentHead{
	  width: 235px;
	}
	.contentHead h3 {
	  width: 235px;
	  color: #ca40cd;
	  font-family: Syoog;
	  font-size: 35px;
	  font-weight: 700;
	}
  }
  
  .subSvg p {
	font-family: Gvonz;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
  }
  .circularAnimation2{
	position: relative;
	left:50%;
  }