.transform-scale-x-1 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.rain {
  background: url(/gif/rain.gif);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
/* .bgbtn {
  border: none;
  transition: all 600s ease-in-out;
}
.bgbtn:hover {
  padding-top: 1.5px;
  border-image-slice: 20 21 20 21;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 10px 10px 10px 10px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/images/hoverbg.svg");
  border-style: solid;
} */
