@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* div {
    font-family: Monaco, monospace;
    font-size: 18px;
  } */
}
@layer base {
  @font-face {
    font-family: "titlefont";
    font-weight: 300;
    color: #07d6d1;
    src: url("/fonts/gvonz-2.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "syoog";
    font-weight: 300;
    color: #07d6d1;
    src: url("/fonts/syoog.otf") format("opentype");
    font-display: swap;
  }

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bggrad{
  background-image: url("../components/Images/background.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-color: black;
}

html{
  scroll-behavior: smooth !important;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f170;
  border-radius: 40px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background: #CA40CD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f769f7;
  transition: background 0.3s ease-in-out;
}