@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  div {
    font-family: Monaco, monospace;
    font-size: 18px;
  }

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
