@import url("https://fonts.googleapis.com/css2?family=Gvonz:wght@100;300;400&display=swap");

.wrapper {
    background-image: url(bg.png);
    /* background: black; */
}

.answer {
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0, 1, 0, 1);
    padding-left: 2.5rem;
    padding-right: 4em;
    margin-right: 0em;
    line-height: 1.8;
    background: rgba(224, 224, 224, 0.1);
    border-radius: 0px 0px 12px 12px;

}

.answer.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.3s cubic-bezier(1, 0, 1, 0);
    padding-left: 2.5rem;
    padding-right: 4em;
    margin-right: 0em;
    line-height: 1.8;

}


@media screen and (max-width:720px) {
    .answer {
        line-height: 1.2;
        font-size: 15px;
        padding-left: 3em;
        margin-right:0em;
        margin-top: 5px;

    }

    .answer.show {
        font-size: 15px;
        line-height: 1.2;
        padding-left:3em;
        margin-right:0em;
        margin-top: 5px;
    }
}

@media screen and (max-width:512px) {
.answer{
    padding-top:3px;
    font-size: 13px;
    line-height: 1.2;
    padding-left: 1em;
    margin-right: 0em;
    padding-right:2em;
}
    .answer.show {
        padding-top:13px;
        font-size: 13px;
        line-height: 1.2;
        padding-left:1em;
        margin-right: 0em;
        padding-right:2em;
    }

}