.boundary1 {
    background-repeat: no-repeat;
    background-image: url('/Images/HealthCareBoundary.svg');
    background-size: 100% 100%;
    display: flex;
    width: 25%;
}

.bg1 {
    background-repeat: no-repeat;
    background-image: url('/Images/TOpTheme.svg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: -5%;
}

.bg4 {
    background-repeat: no-repeat;
    background-image: url('/Images/TOpTheme2.svg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 73%;
    height: 80%;
    margin-left: 2%;
}

.bg11 {
    background-repeat: no-repeat;
    background-image: url('/Images/TOpTheme2.svg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 70%;
    height: 80%;
}

.bg2 {
    background-repeat: no-repeat;
    background-image: url('/images/MiddleTheme.svg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 78%;
    height: 100%;
    margin-top: -4%;
}

.bg8 {
    background-repeat: no-repeat;
    background-image: url('/images/MiddleTheme.svg');
    background-size: cover;
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: 4%;
}

.bg14 {
    background-repeat: no-repeat;
    background-image: url('/images/MiddleTheme.svg');
    background-size: cover;
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: -15%;
}

.bg9 {
    background-repeat: no-repeat;
    background-image: url("/images/MiddleTheme.svg");
    background-size: cover;
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: -2%;
    margin-left: 4%;
}

.bg6 {
    background-repeat: no-repeat;
    background-image: url('/images/MiddleTheme.svg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 77%;
    height: 100%;
    margin-top: 4%;
}

.bg3 {
    background-repeat: no-repeat;
    background-image: url('/Images/BottomTheme.svg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 78%;
    height: 80%;
}

.bg10 {
    background-repeat: no-repeat;
    background-image: url('/Images/BottomTheme.svg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 70%;
    height: 80%;
    margin-left: 4%;
}

.bg13 {
    background-repeat: no-repeat;
    background-image: url('/Images/BottomTheme.svg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 70%;
    height: 80%;
    margin-left: 4%;
    margin-top: -22%;
}

.bg15 {
    background-repeat: no-repeat;
    background-image: url('/Images/BottomTheme.svg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 70%;
    height: 80%;
}

.bg5 {
    background-repeat: no-repeat;
    background-image: url('/Images/BottomTheme2.svg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 1%;
    margin-top: -7%;
}

.bg7 {
    background-repeat: no-repeat;
    background-image: url('/Images/MiddleTheme2.svg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 95%;
    margin-left: -10%;
    margin-top: -2%;
}

.bg12 {
    background-repeat: no-repeat;
    background-image: url('/Images/MiddleTheme2.svg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: -8%;
    margin-top: -14%;
}