.Sponsor-page{
    padding: 2rem;
    background-image: url("./Assets/My\ project\ 1.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
   
}
.Main-section{
 /* background-image: url("./Assets/Vector\ 26\ \(1\).png"); */
    overflow: hidden;
    padding-top: 5rem;
    min-height: 100vh;
    max-width: 100vw;
    margin-right: 2rem;
    /* background-color: black; */

}
.section1{
    background-image: url("./Assets/Vector\ 26\ \(1\).png");
}
.section2{
  background-image: url("./Assets/Vector\ 27.png");  
}