body{
 background-color: black;
}
.main-section{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.Big-dot{
    width: 236.496px;
height: 236.496px;
margin:20px;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
border-radius: 256.496px;
border: 7.456px dashed #06EBE5;
}
.Mid-dot{
    width: 201.232px;
    height: 201.232px;
    /* transform: rotate(); */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 231.232px;
    border: 1.491px dashed #06EBE5;
}
.Small-dot{
    width: 186.232px;
    height: 186.232px;
    /* transform: rotate(); */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 216.232px;
   border: 1.491px dashed #06EBE5;
}
.container{
    display: flex;
    width: 153px;
    height: 154px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21.966px;
    flex-shrink: 0;
    border-radius: 300.026px;
    background: #FFF;
}
.item{
width: 81.025px;
height: 81.025px;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
}