@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

.text {
    margin: 0;
    padding: 0;
    /* position: absolute; */
    transform: rotate(-90deg);
    color: #CA40CD;
    font-size: 60.544px;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}