.main-sponsor{
    opacity: 0.7599999904632568;
    background: url("./Assets/My\ project\ 1.png"), cover no-repeat;
    background-image: url("./Assets/My\ project\ 1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.first{
    background-image:url("./Assets/border.png");
    /* background-position: center; */
    /* background-size: cover; */
    background-repeat: no-repeat;
}
.second{
   background-image: url("./Assets/border2.png");
   background-repeat: no-repeat;
}